@model BUSSystem.Models.Payment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link href="~/Content/custom/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/custom/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="card mt-5">
        <h3 class="card-header text-info">Payment</h3>

            <div class="form-card">
                @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
                {
                    <div class="col-12">
                        <div class="row mt-1">
                            <div class="form-group col-md-4 flex-column d-flex">
                                <label class="form-control-label px-3 mt-3">
                                    Total Price
                                    @Html.TextBoxFor(m => m.Price, new { @placeholder = "Enter price", @class = "form-control" })
                                </label>
                            </div>

                            <div class="form-group col-md-4 flex-column d-flex">
                                <label class="form-control-label px-3 mt-3">
                                   Ticket Price
                                    @Html.TextBoxFor(m => m.Price_of_ticktet, new { @placeholder = "Ticket price", @class = "form-control" })
                                </label>
                            </div>


                        </div>
                               <div class="row">
                                   <div class="col-md-6">
                                       <label>Scan Qr code</label>
                                       <img src="~/Content/custom/images/QR.png" alt="QRCOde" style="height:150px; width:150px;"/>
                                   </div>
                               </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Pay Via</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Jazz Cash</option>
                                        <option>Debit Card</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary m-2" style="float:right;">Submit</button>
                            </div>

                }
                        </div>
        </div>




                        <!--===============================================================================================-->
                        <script src="~/Content/custom/vendor/jquery/jquery-3.2.1.min.js"></script>
                        <!--===============================================================================================-->
                        <script src="~/Content/custom/vendor/animsition/js/animsition.min.js"></script>
                        <!--===============================================================================================-->
                        <script src="~/Content/custom/vendor/bootstrap/js/popper.js"></script>
                        <script src="~/Content/custom/vendor/bootstrap/js/bootstrap.min.js"></script>
                        <!--===============================================================================================-->
                        <script src="~/Content/custom/vendor/select2/select2.min.js"></script>
                        <!--===============================================================================================-->
                        <script src="~/Content/custom/vendor/daterangepicker/moment.min.js"></script>
                        <script src="~/Content/custom/vendor/daterangepicker/daterangepicker.js"></script>
                        <!--===============================================================================================-->
                        <script src="~/Content/custom/vendor/countdowntime/countdowntime.js"></script>
                        <!--===============================================================================================-->
                        <script src="~/Content/custom/js/main.js"></script>

</body>
</html>




